HOST=0.0.0.0
PORT=1337
APP_KEYS=someKey,anotherKey,yetAnotherKey,lastKey
API_TOKEN_SALT=change-this-salt-in-production
ADMIN_JWT_SECRET=change-this-secret-in-production
DATABASE_FILENAME=.tmp/data.db
